{# templates/inc/footer.html.twig #}
<footer class="footer">
    <div class="footer-inner">
        <div class="footer-nav">
            <h2>Navigation</h2>
            <p>Navigate through my other pages.<p/>
            <ul>
                <li><a href="{{ path("home") }}">Home</a></li>
                <li><a href="{{ path("about") }}">About</a></li>
                <li><a href="{{ path("report") }}">Report</a></li>
                <li><a href="{{ path("card") }}">Card</a></li>
                <li><a href="{{ path("blackjack-info") }}">Blackjack</a></li>
                <li><a href="{{ path("game-document") }}">Doc</a></li>
                <li><a href="{{ path("bibliotek-home") }}">Bibliotek</a></li>
                <li><a href="{{ path("metrics") }}">Metrics</a></li>
            </ul>
        </div>
        <div class="footer-socials">
            <h2>Socials</h2>
            <p>Check out my Github on this repo <a href="https://github.com/FalkenDev/Mvc">Mvc</a>.</p>
        </div>
        <div class="footer-contact">
            <h2>Contact</h2>
            <p>Feel free to contact me at any time. Either by Discord FalkenDev#8906 or you can contact me by my mail
            <span class="mail">kafa21@student.bth.se</span>.</p>
        </div>
    </div>
</footer>