{# templates/inc/header.html.twig #}
<!doctype html>
<meta charset="utf-8">

<link rel="stylesheet" href="{{ asset("css/header.css") }}"/>
<link rel="stylesheet" href="{{ asset("css/footer.css") }}"/>
<link rel="stylesheet" href="{{ asset("css/main.css") }}"/>
<link rel="stylesheet" href="{{ asset("css/typography.css") }}"/>
<link rel="stylesheet" href="{{ asset("css/blackjack.css") }}"/>
<link rel="icon" href="{{ asset("favicon.ico") }}">
<title>Mvc - Kafa21</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<header class="Nav">
    <ul>
        <li><a href="{{ path("home") }}">Home</a></li>
        <li><a href="{{ path("about") }}">About</a></li>
        <li><a href="{{ path("report") }}">Report</a></li>
        <li><a href="{{ path("card") }}">Card</a></li>
        <li><a href="{{ path("blackjack-info") }}">Blackjack</a></li>
        <li><a href="{{ path("game-document") }}">Doc</a></li>
    </ul>
    <div class="logo">
        <img src="img/FalkenDevLogo.png"  alt="logo">
    </div>
</header>