<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset("css/project/header.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/project/footer.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/project/main.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/project/poker.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/project/pokerchip.css") }}"/>
    <link rel="icon" href="{{ asset("favicon.ico") }}">
    <title>Mvc Slutprojekt - Kafa21</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">
</head>
<header class="Nav">
    <ul>
        <li><a href="{{ path("project-home") }}">Home</a></li>
        <li><a href="{{ path("project-about") }}">About</a></li>
        <li><a href="{{ path("poker-info") }}">Poker</a></li>
    </ul>
    <div class="logo">
        <img src="{{ asset("img/FalkenDevLogo.png") }}" alt="logo" width="295px" height="63px">
    </div>
</header>